In [0]:
help(spark)

Help on SparkSession in module pyspark.sql.session object:

class SparkSession(pyspark.sql.pandas.conversion.SparkConversionMixin)
 |  SparkSession(sparkContext: pyspark.context.SparkContext, jsparkSession: Optional[py4j.java_gateway.JavaObject] = None, options: Dict[str, Any] = {})
 |
 |  The entry point to programming Spark with the Dataset and DataFrame API.
 |
 |  A SparkSession can be used to create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |  To create a :class:`SparkSession`, use the following builder pattern:
 |
 |  .. versionchanged:: 3.4.0
 |      Support Spark Connect.
 |
 |  .. autoattribute:: builder
 |     :annotation:
 |
 |  Examples
 |  --------
 |  Create a Spark session.
 |
 |  >>> spark = (
 |  ...     SparkSession.builder
 |  ...         .master("local")
 |  ...         .appName("Word Count")
 |  ...         .config("spark.some.config.option", "some-value")
 |  ...         .getOrCreate()
 |  ... )
 |
 |  Create a Spark session from a Spark context.
 |
 |  >>> sc = spark.sparkContext
 |  >>> spark = SparkSession(sc)
 |
 |  Method resolution order:
 |      SparkSession
 |      pyspark.sql.pandas.conversion.SparkConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __enter__(self) -> 'SparkSession'
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> with SparkSession.builder.master("local").getOrCreate() as session:
 |      ...     session.range(5).show()  # doctest: +SKIP
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      |  4|
 |      +---+
 |
 |  __exit__(self, exc_type: Optional[Type[BaseException]], exc_val: Optional[BaseException], exc_tb: Optional[traceback]) -> None
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      Specifically stop the SparkSession on exit of the with block.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> with SparkSession.builder.master("local").getOrCreate() as session:
 |      ...     session.range(5).show()  # doctest: +SKIP
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      |  4|
 |      +---+
 |
 |  __init__(self, sparkContext: pyspark.context.SparkContext, jsparkSession: Optional[py4j.java_gateway.JavaObject] = None, options: Dict[str, Any] = {})
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  createDataFrame(self, data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
 |      or a :class:`numpy.ndarray`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      data : :class:`RDD` or iterable
 |          an RDD of any kind of SQL data representation (:class:`Row`,
 |          :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
 |          :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
 |      schema : :class:`pyspark.sql.types.DataType`, str or list, optional
 |          a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is None.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>``.
 |
 |          When ``schema`` is a list of column names, the type of each column
 |          will be inferred from ``data``.
 |
 |          When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |          from ``data``, which should be an RDD of either :class:`Row`,
 |          :class:`namedtuple`, or :class:`dict`.
 |
 |          When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
 |          match the real data, or an exception will be thrown at runtime. If the given schema is
 |          not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |          :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
 |          "value". Each record will also be wrapped into a tuple, which can be converted to row
 |          later.
 |      samplingRatio : float, optional
 |          the sample ratio of rows used for inferring. The first few rows will be used
 |          if ``samplingRatio`` is ``None``.
 |      verifySchema : bool, optional
 |          verify data types of every row against schema. Enabled by default.
 |
 |          .. versionadded:: 2.1.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Notes
 |      -----
 |      Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.
 |
 |      Examples
 |      --------
 |      Create a DataFrame from a list of tuples.
 |
 |      >>> spark.createDataFrame([('Alice', 1)]).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      Create a DataFrame from a list of dictionaries
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> spark.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      Create a DataFrame from an RDD.
 |
 |      >>> rdd = spark.sparkContext.parallelize([('Alice', 1)])
 |      >>> spark.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = spark.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      Create a DataFrame from Row instances.
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = spark.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      Create a DataFrame with the explicit schema specified.
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = spark.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      Create a DataFrame from a pandas DataFrame.
 |
 |      >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      Create  a DataFrame from an RDD with the schema in DDL formatted string.
 |
 |      >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> spark.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |
 |      When the type is unmatched, it throws an exception.
 |
 |      >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |  newSession(self) -> 'SparkSession'
 |      Returns a new :class:`SparkSession` as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared :class:`SparkContext` and
 |      table cache.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`SparkSession`
 |          Spark session if an active session exists for the current thread
 |
 |      Examples
 |      --------
 |      >>> spark.newSession()
 |      <...SparkSession object ...>
 |
 |  range(self, start: int, end: Optional[int] = None, step: int = 1, numPartitions: Optional[int] = None) -> pyspark.sql.dataframe.DataFrame
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      start : int
 |          the start value
 |      end : int, optional
 |          the end value (exclusive)
 |      step : int, optional
 |          the incremental step (default: 1)
 |      numPartitions : int, optional
 |          the number of partitions of the DataFrame
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> spark.range(1, 7, 2).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  1|
 |      |  3|
 |      |  5|
 |      +---+
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> spark.range(3).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      +---+
 |
 |  sql(self, sqlQuery: str, args: Optional[Dict[str, Any]] = None, **kwargs: Any) -> pyspark.sql.dataframe.DataFrame
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |      When ``kwargs`` is specified, this method formats the given string by using the Python
 |      standard formatter. The method binds named parameters to SQL literals from `args`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect and parameterized SQL.
 |
 |      Parameters
 |      ----------
 |      sqlQuery : str
 |          SQL query string.
 |      args : dict
 |          A dictionary of parameter names to Python objects that can be converted to
 |          SQL literal expressions. See
 |          <a href="https://spark.apache.org/docs/latest/sql-ref-datatypes.html">
 |          Supported Data Types</a> for supported value types in Python.
 |          For example, dictionary keys: "rank", "name", "birthdate";
 |          dictionary values: 1, "Steven", datetime.date(2023, 4, 2).
 |          Map value can be also a `Column` of literal expression, in that case it is taken as is.
 |
 |          .. versionadded:: 3.4.0
 |
 |      kwargs : dict
 |          Other variables that the user wants to set that can be referenced in the query
 |
 |          .. versionchanged:: 3.3.0
 |             Added optional argument ``kwargs`` to specify the mapping of variables in the query.
 |             This feature is experimental and unstable.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      Executing a SQL query.
 |
 |      >>> spark.sql("SELECT * FROM range(10) where id > 7").show()
 |      +---+
 |      | id|
 |      +---+
 |      |  8|
 |      |  9|
 |      +---+
 |
 |      Executing a SQL query with variables as Python formatter standard.
 |
 |      >>> spark.sql(
 |      ...     "SELECT * FROM range(10) WHERE id > {bound1} AND id < {bound2}", bound1=7, bound2=9
 |      ... ).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  8|
 |      +---+
 |
 |      >>> mydf = spark.range(10)
 |      >>> spark.sql(
 |      ...     "SELECT {col} FROM {mydf} WHERE id IN {x}",
 |      ...     col=mydf.id, mydf=mydf, x=tuple(range(4))).show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      +---+
 |
 |      >>> spark.sql('''
 |      ...   SELECT m1.a, m2.b
 |      ...   FROM {table1} m1 INNER JOIN {table2} m2
 |      ...   ON m1.key = m2.key
 |      ...   ORDER BY m1.a, m2.b''',
 |      ...   table1=spark.createDataFrame([(1, "a"), (2, "b")], ["a", "key"]),
 |      ...   table2=spark.createDataFrame([(3, "a"), (4, "b"), (5, "b")], ["b", "key"])).show()
 |      +---+---+
 |      |  a|  b|
 |      +---+---+
 |      |  1|  3|
 |      |  2|  4|
 |      |  2|  5|
 |      +---+---+
 |
 |      Also, it is possible to query using class:`Column` from :class:`DataFrame`.
 |
 |      >>> mydf = spark.createDataFrame([(1, 4), (2, 4), (3, 6)], ["A", "B"])
 |      >>> spark.sql("SELECT {df.A}, {df[B]} FROM {df}", df=mydf).show()
 |      +---+---+
 |      |  A|  B|
 |      +---+---+
 |      |  1|  4|
 |      |  2|  4|
 |      |  3|  6|
 |      +---+---+
 |
 |      And substitude named parameters with the `:` prefix by SQL literals.
 |
 |      >>> spark.sql("SELECT * FROM {df} WHERE {df[B]} > :minB", {"minB" : 5}, df=mydf).show()
 |      +---+---+
 |      |  A|  B|
 |      +---+---+
 |      |  3|  6|
 |      +---+---+
 |
 |  stop(self) -> None
 |      Stop the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Examples
 |      --------
 |      >>> spark.stop()  # doctest: +SKIP
 |
 |  table(self, tableName: str) -> pyspark.sql.dataframe.DataFrame
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |          the table name to retrieve.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> spark.range(5).createOrReplaceTempView("table1")
 |      >>> spark.table("table1").sort("id").show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      |  4|
 |      +---+
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  getActiveSession() -> Optional[ForwardRef('SparkSession')] from builtins.type
 |      Returns the active :class:`SparkSession` for the current thread, returned by the builder
 |
 |      .. versionadded:: 3.0.0
 |
 |      Returns
 |      -------
 |      :class:`SparkSession`
 |          Spark session if an active session exists for the current thread
 |
 |      Examples
 |      --------
 |      >>> s = SparkSession.getActiveSession()
 |      >>> df = s.createDataFrame([('Alice', 1)], ['name', 'age'])
 |      >>> df.select("age").show()
 |      +---+
 |      |age|
 |      +---+
 |      |  1|
 |      +---+
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  catalog
 |      Interface through which the user may create, drop, alter or query underlying
 |      databases, tables, functions, etc.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Returns
 |      -------
 |      :class:`Catalog`
 |
 |      Examples
 |      --------
 |      >>> spark.catalog
 |      <...Catalog object ...>
 |
 |      Create a temp view, show the list, and drop it.
 |
 |      >>> spark.range(1).createTempView("test_view")
 |      >>> spark.catalog.listTables()
 |      [Table(name='test_view', catalog=None, namespace=[], description=None, ...
 |      >>> _ = spark.catalog.dropTempView("test_view")
 |
 |  conf
 |      Runtime configuration interface for Spark.
 |
 |      This is the interface through which the user can get and set all Spark and Hadoop
 |      configurations that are relevant to Spark SQL. When getting the value of a config,
 |      this defaults to the value set in the underlying :class:`SparkContext`, if any.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`pyspark.sql.conf.RuntimeConfig`
 |
 |      Examples
 |      --------
 |      >>> spark.conf
 |      <pyspark.sql.conf.RuntimeConfig object ...>
 |
 |      Set a runtime configuration for the session
 |
 |      >>> spark.conf.set("key", "value")
 |      >>> spark.conf.get("key")
 |      'value'
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Returns
 |      -------
 |      :class:`DataFrameReader`
 |
 |      Examples
 |      --------
 |      >>> spark.read
 |      <...DataFrameReader object ...>
 |
 |      Write a DataFrame into a JSON file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a JSON file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("json").save(d)
 |      ...
 |      ...     # Read the JSON file as a DataFrame.
 |      ...     spark.read.format('json').load(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`DataStreamReader`
 |
 |      Examples
 |      --------
 |      >>> spark.readStream
 |      <pyspark.sql.streaming.readwriter.DataStreamReader object ...>
 |
 |      The example below uses Rate source that generates rows continuously.
 |      After that, we operate a modulo by 3, and then write the stream out to the console.
 |      The streaming query stops in 3 seconds.
 |
 |      >>> import time
 |      >>> df = spark.readStream.format("rate").load()
 |      >>> df = df.selectExpr("value % 3 as v")
 |      >>> q = df.writeStream.format("console").start()
 |      >>> time.sleep(3)
 |      >>> q.stop()
 |
 |  sparkContext
 |      Returns the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`SparkContext`
 |
 |      Examples
 |      --------
 |      >>> spark.sparkContext
 |      <SparkContext master=... appName=...>
 |
 |      Create an RDD from the Spark context
 |
 |      >>> rdd = spark.sparkContext.parallelize([1, 2, 3])
 |      >>> rdd.collect()
 |      [1, 2, 3]
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` instances active on `this` context.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`StreamingQueryManager`
 |
 |      Examples
 |      --------
 |      >>> spark.streams
 |      <pyspark.sql.streaming.query.StreamingQueryManager object ...>
 |
 |      Get the list of active streaming queries
 |
 |      >>> sq = spark.readStream.format(
 |      ...     "rate").load().writeStream.format('memory').queryName('this_query').start()
 |      >>> sqm = spark.streams
 |      >>> [q.name for q in sqm.active]
 |      ['this_query']
 |      >>> sq.stop()
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`UDFRegistration`
 |
 |      Examples
 |      --------
 |      >>> spark.udf
 |      <pyspark.sql.udf.UDFRegistration object ...>
 |
 |      Register a Python UDF, and use it in SQL.
 |
 |      >>> strlen = spark.udf.register("strlen", lambda x: len(x))
 |      >>> spark.sql("SELECT strlen('test')").show()
 |      +------------+
 |      |strlen(test)|
 |      +------------+
 |      |           4|
 |      +------------+
 |
 |  version
 |      The version of Spark on which this application is running.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      str
 |          the version of Spark in string.
 |
 |      Examples
 |      --------

In [0]:
#spark is nothing it is object.
#read is intance or object
help(spark.read)

Help on DataFrameReader in module pyspark.sql.readwriter object:

class DataFrameReader(OptionUtils)
 |  DataFrameReader(spark: 'SparkSession')
 |
 |  Interface used to load a :class:`DataFrame` from external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`SparkSession.read`
 |  to access this.
 |
 |  .. versionadded:: 1.4.0
 |
 |  .. versionchanged:: 3.4.0
 |      Support Spark Connect.
 |
 |  Method resolution order:
 |      DataFrameReader
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, spark: 'SparkSession')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  csv(self, path: Union[str, List[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, sep: Optional[str] = None, encoding: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, comment: Optional[str] = None, header: Union[bool, str, NoneType] = None, inferSchema: Union[bool, str, NoneType] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, nanValue: Optional[str] = None, positiveInf: Optional[str] = None, negativeInf: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, maxColumns: Union[int, str, NoneType] = None, maxCharsPerColumn: Union[int, str, NoneType] = None, maxMalformedLogPerPartition: Union[int, str, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, enforceSchema: Union[bool, str, NoneType] = None, emptyValue: Optional[str] = None, locale: Optional[str] = None, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, unescapedQuoteHandling: Optional[str] = None) -> 'DataFrame'
 |      Loads a CSV file and returns the result as a  :class:`DataFrame`.
 |
 |      This function will go through the input once to determine the input schema if
 |      ``inferSchema`` is enabled. To avoid going through the entire data once, disable
 |      ``inferSchema`` option or specify the schema explicitly using ``schema``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |          string, or list of strings, for input path(s),
 |          or RDD of Strings storing CSV rows.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a CSV file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
 |      ...     spark.read.csv(d, schema=df.schema, nullValue="Hyukjin Kwon").show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|null|
 |      +---+----+
 |
 |  format(self, source: str) -> 'DataFrameReader'
 |      Specifies the input data source format.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> spark.read.format('json')
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Write a DataFrame into a JSON file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a JSON file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("json").save(d)
 |      ...
 |      ...     # Read the JSON file as a DataFrame.
 |      ...     spark.read.format('json').load(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  jdbc(self, url: str, table: str, column: Optional[str] = None, lowerBound: Union[int, str, NoneType] = None, upperBound: Union[int, str, NoneType] = None, numPartitions: Optional[int] = None, predicates: Optional[List[str]] = None, properties: Optional[Dict[str, str]] = None) -> 'DataFrame'
 |      Construct a :class:`DataFrame` representing the database table named ``table``
 |      accessible via JDBC URL ``url`` and connection ``properties``.
 |
 |      Partitions of the table will be retrieved in parallel if either ``column`` or
 |      ``predicates`` is specified. ``lowerBound``, ``upperBound`` and ``numPartitions``
 |      is needed when ``column`` is specified.
 |
 |      If both ``column`` and ``predicates`` are specified, ``column`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      table : str
 |          the name of the table
 |      column : str, optional
 |          alias of ``partitionColumn`` option. Refer to ``partitionColumn`` in
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          for the version you use.
 |      predicates : list, optional
 |          a list of expressions suitable for inclusion in WHERE clauses;
 |          each one defines one partition of the :class:`DataFrame`
 |      properties : dict, optional
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  json(self, path: Union[str, List[str], pyspark.rdd.RDD[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, primitivesAsString: Union[bool, str, NoneType] = None, prefersDecimal: Union[bool, str, NoneType] = None, allowComments: Union[bool, str, NoneType] = None, allowUnquotedFieldNames: Union[bool, str, NoneType] = None, allowSingleQuotes: Union[bool, str, NoneType] = None, allowNumericLeadingZero: Union[bool, str, NoneType] = None, allowBackslashEscapingAnyCharacter: Union[bool, str, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, allowUnquotedControlChars: Union[bool, str, NoneType] = None, lineSep: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, dropFieldIfAllNull: Union[bool, str, NoneType] = None, encoding: Optional[str] = None, locale: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, allowNonNumericNumbers: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads JSON files and returns the results as a :class:`DataFrame`.
 |
 |      `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
 |      For JSON (one record per file), set the ``multiLine`` parameter to ``true``.
 |
 |      If the ``schema`` parameter is not specified, this function goes
 |      through the input once to determine the input schema.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str, list or :class:`RDD`
 |          string represents path to the JSON dataset, or a list of paths,
 |          or RDD of Strings storing JSON objects.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema or
 |          a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a JSON file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a JSON file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("json").save(d)
 |      ...
 |      ...     # Read the JSON file as a DataFrame.
 |      ...     spark.read.json(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  load(self, path: Union[str, List[str], NoneType] = None, format: Optional[str] = None, schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads data from a data source and returns it as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list, optional
 |          optional string or a list of string for file-system backed data sources.
 |      format : str, optional
 |          optional string for format of the data source. Default to 'parquet'.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      Load a CSV file with format, schema and options specified.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file with a header
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.option("header", True).mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon',
 |      ...     # and 'header' option set to `True`.
 |      ...     df = spark.read.load(
 |      ...         d, schema=df.schema, format="csv", nullValue="Hyukjin Kwon", header=True)
 |      ...     df.printSchema()
 |      ...     df.show()
 |      root
 |       |-- age: long (nullable = true)
 |       |-- name: string (nullable = true)
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|null|
 |      +---+----+
 |
 |  option(self, key: str, value: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds an input option for the underlying data source.
 |
 |      .. versionadded:: 1.5.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      key : str
 |          The key for the option to set.
 |      value
 |          The value for the option to set.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import SparkSession
 |      >>> spark = SparkSession.builder.master("local").getOrCreate()
 |      >>> spark.read.option("key", "value")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the option 'nullValue' with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
 |      ...     spark.read.schema(df.schema).option(
 |      ...         "nullValue", "Hyukjin Kwon").format('csv').load(d).show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|null|
 |      +---+----+
 |
 |  options(self, **options: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds input options for the underlying data source.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      **options : dict
 |          The dictionary of string keys and prmitive-type values.
 |
 |      Examples
 |      --------
 |      >>> spark.read.option("key", "value")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the option 'nullValue' and 'header' with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a CSV file with a header.
 |      ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
 |      ...     df.write.option("header", True).mode("overwrite").format("csv").save(d)
 |      ...
 |      ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon',
 |      ...     # and 'header' option set to `True`.
 |      ...     spark.read.options(
 |      ...         nullValue="Hyukjin Kwon",
 |      ...         header=True
 |      ...     ).format('csv').load(d).show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |100|null|
 |      +---+----+
 |
 |  orc(self, path: Union[str, List[str]], mergeSchema: Optional[bool] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads ORC files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.5.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-orc.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a ORC file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a ORC file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("orc").save(d)
 |      ...
 |      ...     # Read the Parquet file as a DataFrame.
 |      ...     spark.read.orc(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  parquet(self, *paths: str, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads Parquet files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      paths : str
 |
 |      Other Parameters
 |      ----------------
 |      **options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#data-source-option>`_
 |          for the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      Write a DataFrame into a Parquet file and read it back.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     # Write a DataFrame into a Parquet file
 |      ...     spark.createDataFrame(
 |      ...         [{"age": 100, "name": "Hyukjin Kwon"}]
 |      ...     ).write.mode("overwrite").format("parquet").save(d)
 |      ...
 |      ...     # Read the Parquet file as a DataFrame.
 |      ...     spark.read.parquet(d).show()
 |      +---+------------+
 |      |age|        name|
 |      +---+------------+
 |      |100|Hyukjin Kwon|
 |      +---+------------+
 |
 |  schema(self, schema: Union[pyspark.sql.types.StructType, str]) -> 'DataFrameReader'
 |      Specifies the input schema.
 |
 |      Some data sources (e.g. JSON) can infer the input schema automatically from data.
 |      By specifying the schema here, the underlying data source can skip the schema
 |      inference step, and thus speed up data loading.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      schema : :class:`pyspark.sql.types.StructType` or str
 |          a :class:`pyspark.sql.types.StructType` object or a DDL-formatted string
 |          (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Examples
 |      --------
 |      >>> spark.read.schema("col0 INT, col1 DOUBLE")
 |      <...readwriter.DataFrameReader object ...>
 |
 |      Specify the schema with reading a CSV file.
 |
 |      >>> import tempfile
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     spark.read.schema("col0 INT, col1 DOUBLE").format("csv").load(d).printSchema()
 |      root
 |       |-- col0: integer (nullable = true)
 |       |-- col1: double (nullable = true)
 |
 |  table(self, tableName: str) -> 'DataFrame'
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Support Spark Connect.
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |          string, name of the table.
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(10)
 |      >>> df.createOrReplaceTempView('tblA')
 |      >>> spark.read.table('tblA').show()
 |      +---+
 |      | id|
 |      +---+
 |      |  0|
 |      |  1|
 |      |  2|
 |      |  3|
 |      |  4|
 |      |  5|
 |      |  6|
 |      |  7|
 |      |  8|
 |      |  9|
 |      +---+
 |      >>> _ = spark.sql("DROP TABLE tblA")
 |

In [0]:
#1st method
df = spark.read.csv(path='dbfs:/FileStore/Orders_6.csv',header=True)
display(df)
df.printSchema()

Orderid,productId,productname,customerid,Order Date,customername,customeraddress,quantity,price,Sales Amount,shipping address,billing address,inventory,order status,product type,product category
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics

root
 |-- Orderid: string (nullable = true)
 |-- productId: string (nullable = true)
 |-- productname: string (nullable = true)
 |-- customerid: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- customername: string (nullable = true)
 |-- customeraddress: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: string (nullable = true)
 |-- Sales Amount: string (nullable = true)
 |-- shipping address: string (nullable = true)
 |-- billing address: string (nullable = true)
 |-- inventory: string (nullable = true)
 |-- order status: string (nullable = true)
 |-- product type: string (nullable = true)
 |-- product category: string (nullable = true)

In [0]:
#2nd method
df = spark.read.format('csv').option(key='header',value=True).load(path='dbfs:/FileStore/Orders_6.csv')
display(df)
df.printSchema()

Orderid,productId,productname,customerid,Order Date,customername,customeraddress,quantity,price,Sales Amount,shipping address,billing address,inventory,order status,product type,product category
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics

root
 |-- Orderid: string (nullable = true)
 |-- productId: string (nullable = true)
 |-- productname: string (nullable = true)
 |-- customerid: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- customername: string (nullable = true)
 |-- customeraddress: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: string (nullable = true)
 |-- Sales Amount: string (nullable = true)
 |-- shipping address: string (nullable = true)
 |-- billing address: string (nullable = true)
 |-- inventory: string (nullable = true)
 |-- order status: string (nullable = true)
 |-- product type: string (nullable = true)
 |-- product category: string (nullable = true)

In [0]:
#Read Multiple csv files
df = spark.read.csv(path=['dbfs:/FileStore/data/Orders_7.csv','dbfs:/FileStore/data1/Orders_8.csv'],header=True)
display(df)
df.printSchema()

Orderid,productId,productname,customerid,Order Date,customername,customeraddress,quantity,price,Sales Amount,shipping address,billing address,inventory,order status,product type,product category
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics

root
 |-- Orderid: string (nullable = true)
 |-- productId: string (nullable = true)
 |-- productname: string (nullable = true)
 |-- customerid: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- customername: string (nullable = true)
 |-- customeraddress: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: string (nullable = true)
 |-- Sales Amount: string (nullable = true)
 |-- shipping address: string (nullable = true)
 |-- billing address: string (nullable = true)
 |-- inventory: string (nullable = true)
 |-- order status: string (nullable = true)
 |-- product type: string (nullable = true)
 |-- product category: string (nullable = true)

In [0]:
#Read all csv files of same folders
df = spark.read.csv(path='dbfs:/FileStore/AllFiles',header=True)
display(df)
df.printSchema()

Orderid,productId,productname,customerid,Order Date,customername,customeraddress,quantity,price,Sales Amount,shipping address,billing address,inventory,order status,product type,product category
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics
1,1,Mobile,1,1/10/2022,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,3/11/2022,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,4/3/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,5/12/2021,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,4/4/2021,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,3/3/2022,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,1/11/2021,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,5/5/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,6/9/2022,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,5/4/2021,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,6/5/2022,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,9/3/2022,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,5/4/2022,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,5/5/2022,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics

root
 |-- Orderid: string (nullable = true)
 |-- productId: string (nullable = true)
 |-- productname: string (nullable = true)
 |-- customerid: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- customername: string (nullable = true)
 |-- customeraddress: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: string (nullable = true)
 |-- Sales Amount: string (nullable = true)
 |-- shipping address: string (nullable = true)
 |-- billing address: string (nullable = true)
 |-- inventory: string (nullable = true)
 |-- order status: string (nullable = true)
 |-- product type: string (nullable = true)
 |-- product category: string (nullable = true)

In [0]:
from pyspark.sql.types import *

schema = StructType().add(field='Orderid',data_type=IntegerType())\
                    .add(field='productId',data_type=IntegerType())\
                    .add(field='productname',data_type=StringType())\
                    .add(field='customerid',data_type=IntegerType())\
                    .add(field='Order Date',data_type=DateType())\
                    .add(field='customername',data_type=StringType())\
                    .add(field='customeraddress',data_type=StringType())\
                    .add(field='quantity',data_type=StringType())\
                    .add(field='price',data_type=IntegerType())\
                    .add(field='Sales',data_type=StringType())\
                    .add(field='shipping address',data_type=StringType())\
                    .add(field='billing address',data_type=StringType())\
                    .add(field='inventory',data_type=IntegerType())\
                    .add(field='order status',data_type=StringType())\
                    .add(field='product type',data_type=StringType())\
                    .add(field='product category',data_type=StringType())

df = spark.read.csv(path='dbfs:/FileStore/AllFiles',schema = schema,header=True)
display(df)
df.printSchema()

Orderid,productId,productname,customerid,Order Date,customername,customeraddress,quantity,price,Sales,shipping address,billing address,inventory,order status,product type,product category
1,1,Mobile,1,null,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,null,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,null,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,null,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,null,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,null,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,null,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,null,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,null,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,null,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics
1,1,Mobile,1,null,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,null,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,null,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,null,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,null,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,null,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,null,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,null,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,null,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,null,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics
1,1,Mobile,1,null,Andrija,"2-4, Hyderabad, TS",1,50000,50000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",10,Success,Gadgets,Electronics
2,3,Laptop,4,null,Gibbon,"20-33-45, Tirupathi, AP",1,150000,150000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",15,Pending,Gadgets,Electronics
3,4,Wallet,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",24,Cancelled,Accessories,Lifestyle
4,2,Sweater,2,null,Alex,"30-84-3, Tenali, AP",2,1500,3000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Cancelled,Clothing,Lifestyle
5,5,Goggles,5,null,Stalin,"4-45-33, Nizamabad, TS",3,6500,19500,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",14,Success,Accessories,Lifestyle
6,3,Laptop,2,null,Alex,"30-84-3, Tenali, AP",1,15000,15000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",25,Success,Gadgets,Electronics
7,2,Sweater,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,1500,3000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",36,Success,Clothing,Lifestyle
8,1,Mobile,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,50000,100000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",21,Pending,Gadgets,Lifestyle
9,4,Wallet,6,null,Wanka,"23-4-30, Vijaywada, AP",2,1500,3000,"22-8-3, Nellore, AP","23-4-30, Vijaywada, AP",14,Success,Accessories,Lifestyle
10,3,Laptop,1,null,Andrija,"2-4, Hyderabad, TS",1,150000,150000,"2-4, Hyderabad, TS","2-4, Hyderabad, TS",12,Pending,Gadgets,Electronics
11,2,Sweater,4,null,Gibbon,"20-33-45, Tirupathi, AP",2,1500,3000,"3-45/3, Vizag, AP","20-33-45, Tirupathi, AP",25,Cancelled,Accessories,Lifestyle
12,4,Wallet,5,null,Stalin,"4-45-33, Nizamabad, TS",2,1500,3000,"3-20-33, Warangal, TS","4-45-33, Nizamabad, TS",5,Pending,Clothing,Lifestyle
13,5,Goggles,3,null,Gartimar,"33-09-22, Rajahmundry, AP",2,6500,13000,"43-2-3/1, Srikakulam, AP","33-09-22, Rajahmundry, AP",6,Success,Accessories,Lifestyle
14,6,Headset,2,null,Alex,"30-84-3, Tenali, AP",2,3500,7000,"30-84-3, Tenali, AP","30-84-3, Tenali, AP",50,Cancelled,Gadgets,Electronics

root
 |-- Orderid: integer (nullable = true)
 |-- productId: integer (nullable = true)
 |-- productname: string (nullable = true)
 |-- customerid: integer (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- customername: string (nullable = true)
 |-- customeraddress: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- Sales: string (nullable = true)
 |-- shipping address: string (nullable = true)
 |-- billing address: string (nullable = true)
 |-- inventory: integer (nullable = true)
 |-- order status: string (nullable = true)
 |-- product type: string (nullable = true)
 |-- product category: string (nullable = true)